<div class="header-container left">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" class="navigation">
      <i class="nb-menu"></i>
    </a>
    <div class="logo" (click)="goToHome()"><img src="/assets/logo.png" height="80px" width="64px">
      <span>DevCOPS</span>
    </div>
  </div>
  <ngx-theme-switcher></ngx-theme-switcher>
</div>

<nb-actions size="medium" class="header-container right">
  <nb-action>
    
    <nb-user *ngIf="loggedin" [menu]="userMenu" [name]="user?.username" (menuClick)="onMenuClick($event)"></nb-user>
    <a *ngIf="loggedin==false" href="#/user/login" style="padding-right:5px">Login</a><a *ngIf="loggedin==false" href="#/user/register" style="padding-right:5px">Register</a>
  </nb-action>
</nb-actions>